<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
    <title>User Info</title>
</head>
<body>
    <div class="container">
        <div>
            <h1>User {{user_info[0].id}}</h1>
                <div class="border">
                <h3>Full Name: {{user_info[0].first_name}} {{user_info[0].last_name}}</h3>
                <h3>Email: {{user_info[0].email}}</h3>
                <h3>Created on: {{user_info[0].created_at}}</h3>
                <h3>Last updated on: {{user_info[0].updated_at}}</h3> 
                </div>
                <a href='/users/{{user_info[0].id}}/edit'><button type="submit" value="Edit" class="box">Edit</button></a>
                <a href='/users/{{user_info[0].id}}/destroy'><button type="submit" value="Delete" class="box">Delete</button></a>
        </div>
        <div>
            <a href="/users">Home</a>
        </div>
    </div>
</body>
</html>