* {
    border:0;
    padding:0;
}

.container {
    display: block;
}

.row {
    display: flex;
}

.red_box {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: red;
}

.black_box {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    background-color: black;
}