* {
    margin: 0;
    padding: 0;
}
.row {
    line-height: 0;
}
.wall {
    background-color: blue;
    height: 40px;
    width: 40px;
    display: inline-block;
}
.sushi {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('ninjaman/sushi.png');
    background-size: contain;
}
.onigiri {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('ninjaman/onigiri.png');
    background-size: contain;
}
.blank {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
}
#ninjaman {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('ninjaman/ninja.gif');
    background-size: contain;
    position: absolute;
    left: 40px;
    top: 40px;
}
#bluey {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('ninjaman/bluey.gif');
    background-size: contain;
    position: absolute;
    left: 40px;
    top: 40px;
}
#red {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('ninjaman/red.gif');
    background-size: contain;
    position: absolute;
    left: 40px;
    top: 40px;
}
#pumpky {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('ninjaman/pumpky.gif');
    background-size: contain;
    position: absolute;
    left: 40px;
    top: 40px;
}