<html>
<head>
    <title>Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
</head>
<body>
    <div class="container">
      <h2>Submitted Info</h2>
        <table>
          <tbody>
            <tr>
              <td>
                Name:
              </td>
              <td>
                {{name}}
              </td>
            </tr>
            <tr>
              <td>
                Dojo Location:
              </td>
              <td>
                {{location}}
              </td>
            </tr>
            <tr>
              <td>
                Favorite language:
              </td>
              <td>
                {{language}}
              </td>
            </tr>
      
            <tr>
              <td>
              Comment:
              </td>
              <td>
              {{comment}}
              </td>
            </tr>
          </tbody>
        </table>
    </div>
</body>
</html>