<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
    <title>TV Shows</title>
</head>
<body>

    <div class="container">
        <div class="container_spacebetween">
            <span></span>
            <div>
                <a href='/shows'>TV Shows</a>
                <a href='/logout'>Logout</a>
            </div>
        </div>    
        
        <div class="vertical_flex_table">
            <div class="container_spacebetween">
                <h1>{{show.title}}</h1>
                <h2 class="purple">Liked by: {{likes}}</h2>
            </div>
            <span class="margin-topbottom">Network: {{show.network}}</span>
            <span class="margin-topbottom">Release Date: {{show.date}}</span>
            <span class="margin-top">Description:</span>
            <span>{{show.description}}</span>
            <span class="margin-topbottom">Posted by: {{poster_info.first_name}} {{poster_info.last_name}}</span>
        </div>
    </div>
</body>
</html>