<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='my_style.css') }}">
    
    <title>Document</title>
</head>
<body>
    <div>
        <div class="green"><h1>Your account ( {{email}} ) has been created! Thank you!</h1></div>
    
        <a href='/'>Go back to login</a>
        <a href='/logout'>Logout</a>
    </div>
</body>
</html>