* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

.container{
    display: flex;
    min-height: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
}

.box{
    width: 40%;
    margin-right: 20px;
}

.outlined{
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.forms{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}